<footer>
    <hr>
    <small>Copyright 2014 - {{ 'now' | date: "%Y" }} <a href="https://github.com/wurmlab/genomicscourse/graphs/contributors">Authors</a>. All rights reserverd.</small>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-471841-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-471841-2');
</script>


</footer>
</main>
<script src="{{site.url}}/assets/js/siteNavigation.js"></script>
</body>
